<?xml version="1.0"?>
<!--
/**
 * Copyright © PassKeeper, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:passkeeper:module:PassKeeper_Backend:etc/menu.xsd">
    <menu>
        <add id="PassKeeper_Cms::cms_page" title="Pages" translate="title" module="PassKeeper_Cms" sortOrder="0" parent="PassKeeper_Backend::content_elements" action="cms/page" resource="PassKeeper_Cms::page"/>
        <add id="PassKeeper_Cms::cms_block" title="Blocks" translate="title" module="PassKeeper_Cms" sortOrder="30" parent="PassKeeper_Backend::content_elements" action="cms/block" resource="PassKeeper_Cms::block"/>
    </menu>
</config>
